# Virtual environment
.venv/
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Streamlit cache and logs
.streamlit/
logs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE and editor settings
.vscode/
.idea/
*.swp

# Compiled files
*.so

# Dependencies
node_modules/

# FastAPI Uvicorn logs
*.log

# OS-specific files
.DS_Store
Thumbs.db